<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <i class="fas fa-server"><a class="navbar-brand" href="/">Mongo Scraper</a></i>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success scrape-new"><i class="fas fa-align-left">Scrape New Articles</i></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger clear"><i class="fas fa-broom">Clear Articles</i></a>
                </li>
            </ul>
        </div>
    </nav>

        <div class="row">

            <div class="col-md-12">

                <div class="jumbotron text-center">
                    <h1 class="display-4">Mongo Scraper</h1>
                    <h2><i>Phoronix Edition</i></h2>

                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        {{#unless saved}}

                        {{#each articles}}

                        <div id="articles">

                            <h5 class="card-title">

                            <a href="{{this.link}}" target="_blank">{{this.title}}</a>

                            </h5>

                        </div>

                        <div id="summary">

                            <p class="card-text">

                            {{this.summary}}

                            </p>

                        </div>

                        <button class="change-saved btn btn-success" data-id="{{id}}" data-newsaved="{{saved}}"><i class="far fa-save">
                            Save Article
                        </i></button>

                        {{/each}}

                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
</div>